- visibility_level = params.dig(:project, :visibility_level) || default_project_visibility
- ci_cd_only = local_assigns.fetch(:ci_cd_only, false)

.row{ id: project_name_id }
  = f.hidden_field :ci_cd_only, value: ci_cd_only
  .form-group.project-path.col-sm-6
    = f.label :namespace_id, class: 'label-light' do
      %span
        Project path
    .input-group
      - if current_user.can_select_namespace?
        .input-group-prepend.has-tooltip{ title: root_url }
          .input-group-text
            = root_url
        = f.select :namespace_id, namespaces_options(namespace_id_from(params) || :current_user, display_path: true, extra_group: namespace_id_from(params)), {}, { class: 'select2 js-select-namespace qa-project-namespace-select', tabindex: 1}

      - else
        .input-group-prepend.static-namespace.has-tooltip{ title: user_url(current_user.username) + '/' }
          .input-group-text.border-0
            #{user_url(current_user.username)}/
        = f.hidden_field :namespace_id, value: current_user.namespace_id
  .form-group.project-path.col-sm-6
    = f.label :path, class: 'label-light' do
      %span
        Project name
    = f.text_field :path, placeholder: "my-awesome-project", class: "form-control", tabindex: 2, autofocus: true, required: true
- if current_user.can_create_group?
  .form-text.text-muted
    Want to house several dependent projects under the same namespace?
    = link_to "Create a group", new_group_path

.form-group
  = f.label :description, class: 'label-light' do
    Project description
    %span (optional)
  = f.text_area :description, placeholder: 'Description format',  class: "form-control", rows: 3, maxlength: 250

= f.label :visibility_level, class: 'label-light' do
  Visibility Level
  = link_to icon('question-circle'), help_page_path("public_access/public_access"), aria: { label: 'Documentation for Visibility Level' }, target: '_blank', rel: 'noopener noreferrer'
= render 'shared/visibility_level', f: f, visibility_level: visibility_level.to_i, can_change_visibility_level: true, form_model: @project, with_label: false

= f.submit 'Create project', class: "btn btn-create project-submit", tabindex: 4
= link_to 'Cancel', dashboard_projects_path, class: 'btn btn-cancel'
